$color-primary: #703030;
$color-secondary: gray;
$color-tertiary: lightgray;
$color-black: black;
$color-white: white;

body {
  background: #E3CDA4;
  font-family: Verdana, sans-serif;
}

#leaderboard {
  background: $color-white;
  width: 900px;
  margin: 50px auto;
  border: 3px solid $color-black;
}

.title {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  background: $color-primary;
  color: $color-white;
}

.thumbnail {
  width: 15px;
}

#header, .leader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-end;
  font-size: 15px;
  &:nth-child(even) {
    background: $color-tertiary;
  }
  div:first-of-type {
    flex-basis: 5%;
    flex-grow: 0;
  }
  div {
    border: 1px solid $color-black;
    flex-basis: 30%;
    padding: 5px;
  }
}

#header {
  font-weight: 600;
  span {
    color: green;
    text-decoration: underline;
    cursor: pointer;
  }
}
